.card .badge {
	font-size: 100%;
}

.badge + .badge {
	margin-left: .25rem;
}

.selectize-control.multi .selectize-input > div {
	border-radius: 4px;
}

/* SweetAlert2 */

.swal2-popup.swal2-toast .swal2-title {
	margin: 0;
}

.swal2-popup.swal2-toast .swal2-icon {
	margin-right: .5rem;
}

.swal2-actions button + button {
	margin-left: .5rem;
}
