@import 'colors';
@import 'variables';

@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/dist/sweetalert2.min.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@import 'bootstrap-overrides';
@import 'sweetalert-overrides';
@import 'vue-multiselect-overrides';

html,
body,
#app {
	height: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	font-weight: normal;
}

a {
	text-decoration: none;
	transition: $transition;
}

[v-tippy],
[data-tippy] {
    cursor: help;
}

.modal {
    .modal-close {
        position: absolute;
        right: -1.25rem;
        top: -1.25rem;
        font-size: 2.5rem;
        line-height: 1;
        border-radius: 100%;
        border: 0;
        .background {
            color: $white;
        }
        .foreground {
            transition: $transition;
            color: $danger;
        }
        &:focus,
        &:hover {
            .foreground {
                color: darken($danger, 10%);
            }
        }
    }
}

.modal {
	background-color: rgba(0, 0, 0, .5);
}

.modal-backdrop {
	// transition: ease .25s;
	background-color: transparent;
}
